api/soa.api/bin/Debug
api/soa.api/obj
api/soa.api/wwwroot
api/soa.contracts/bin
api/soa.contracts/obj/Debug
api/soa.contracts/obj
api/soa.model/bin/Debug/netcoreapp3.1/soa.model.deps.json
api/soa.model/obj/Debug
api/soa.model/obj
api/soa.repository/bin/Debug/netcoreapp3.1/soa.repository.deps.json
api/soa.repository/obj/Debug
api/soa.repository/obj
api/soa.services/bin/Debug/netcoreapp3.1/soa.services.deps.json
api/soa.services/obj/Debug/netcoreapp3.1
api/soa.services/obj
api/soa-common.dtos/bin/Debug/netcoreapp3.1
api/soa-common.dtos/obj/Debug/netcoreapp3.1
api/soa-common.dtos/obj
api/soa-common.infrastructure/bin/Debug/netcoreapp3.1
api/soa-common.infrastructure/obj/Debug/netcoreapp3.1
api/soa-common.infrastructure/obj
.vs/soa-be/DesignTimeBuild/.dtbcache.v2
.idea/.idea.soa-be/.idea
api/soa.api/\logs-20210529.txt
api/soa.model/bin/Debug/netcoreapp3.1
api/soa.repository/bin/Debug/netcoreapp3.1
api/soa.services/bin/Debug/netcoreapp3.1
*.txt
.idea/.idea.soa-ms/.idea
ms/answers/ms.answers.api/bin/Debug
ms/answers/ms.answers.api/obj
ms/answers/ms.answers.api/.DS_Store
ms/answers/ms.answers.contracts/obj
ms/answers/ms.answers.contracts/bin
ms/answers/ms.answers.model/bin/Debug
ms/answers/ms.answers.model/obj/Debug/netcoreapp3.1
ms/answers/ms.answers.model/obj
ms/answers/ms.answers.repository/obj
ms/answers/ms.answers.repository/.DS_Store
ms/answers/ms.answers.services/bin/Debug
ms/answers/ms.answers.services/obj/Debug
ms/answers/ms.answers.services/obj
ms/answers/ms.answers.services/.DS_Store
ms/answers/.DS_Store
ms/auth/ms.auth.api/bin
ms/auth/ms.auth.repository/obj/Debug
ms/auth/ms.auth.repository/obj
ms/auth/ms.auth.repository/.DS_Store
ms/auth/ms.auth.services/bin/Debug
ms/auth/ms.auth.services/obj/Debug/netcoreapp3.1
ms/auth/ms.auth.services/obj
ms/auth/ms.auth.services/.DS_Store
ms/auth/.DS_Store
ms/catergories/ms.categories.api/bin/Debug
ms/catergories/ms.categories.api/obj
ms/catergories/ms.categories.api/.DS_Store
ms/catergories/ms.categories.contracts/bin
ms/catergories/ms.categories.contracts/obj
ms/catergories/ms.categories.contracts/.DS_Store
ms/catergories/ms.categories.model/bin
ms/catergories/ms.categories.model/obj
ms/catergories/ms.categories.model/.DS_Store
ms/catergories/ms.categories.repository/obj
ms/catergories/ms.categories.repository/bin
ms/catergories/ms.categories.repository/.DS_Store
ms/catergories/ms.categories.services/bin
ms/catergories/ms.categories.services/obj
ms/catergories/ms.categories.services/.DS_Store
ms/catergories/.DS_Store
ms/common/ms-common.dtos/obj
ms/persons/ms.answers.api/bin
.DS_Store
soa/statistics/soa.statistics.repository/obj
soa/statistics/soa.statistics.repository/bin
soa/statistics/soa.statistics.model/obj
soa/statistics/soa.statistics.model/bin
soa/statistics/soa.statistics.contracts/obj
soa/qa/soa.qa.services/bin
soa/qa/soa.qa.repository/bin/Debug
soa/qa/soa.qa.repository/obj
soa/qa/soa.qa.model/obj
soa/qa/soa.qa.model/bin
soa/qa/soa.qa.contracts/obj/Debug
soa/qa/soa.qa.contracts/obj
soa/qa/soa.qa.contracts/bin
soa/qa/soa.qa.api/obj
soa/qa/soa.qa.api/bin
soa/common/soa-common.infrastructure/obj
soa/common/soa-common.infrastructure/bin
soa/common/soa-common.dtos/obj
soa/common/soa-common.dtos/bin
soa/auth/soa.auth.services/obj
soa/auth/soa.auth.services/bin
soa/auth/soa.auth.repository/obj/Debug
soa/auth/soa.auth.repository/obj
soa/auth/soa.auth.repository/bin
soa/auth/soa.auth.model/bin
soa/auth/soa.auth.model/obj
soa/auth/soa.auth.contracts/obj/Debug
soa/auth/soa.auth.contracts/obj
soa/auth/soa.auth.contracts/bin
soa/auth/soa.auth.api/obj
soa/auth/soa.auth.api/bin
ms/tags/ms.tags.services/obj
ms/tags/ms.tags.services/bin
ms/tags/ms.tags.repository/bin/Debug
ms/tags/ms.tags.repository/obj
ms/tags/ms.tags.model/bin/Debug
ms/tags/ms.tags.model/obj/Debug
ms/tags/ms.tags.contracts/obj/Debug
ms/tags/ms.tags.contracts/bin/Debug/netcoreapp3.1
ms/tags/ms.tags.contracts/obj
ms/tags/ms.tags.api/obj
ms/tags/ms.tags.api/bin
ms/questions/ms.questions.services/obj
ms/questions/ms.questions.services/bin
ms/questions/ms.questions.repository/bin
ms/questions/ms.questions.repository/obj
ms/questions/ms.questions.model/obj
ms/questions/ms.questions.contracts/bin/Debug
ms/questions/ms.questions.contracts/obj/Debug
ms/questions/ms.questions.contracts/obj
soa/statistics/soa.statistics.contracts/bin
soa/statistics/soa.statistics.services/bin
ms/persons/ms.answers.model/bin
ms/persons/ms.answers.contracts/bin
ms/persons/ms.answers.repository/bin
ms/persons/ms.answers.services/bin
ms/questions/ms.questions.api/bin
ms/auth/ms.auth.repository/bin
ms/auth/ms.auth.model/bin
ms/auth/ms.auth.contracts/bin
ms/answers/ms.answers.repository/bin
ms/auth/ms.auth.api/obj
ms/auth/ms.auth.contracts/obj
ms/auth/ms.auth.model/obj
ms/common/ms-common.infrastructure/obj
ms/persons/ms.answers.api/obj
ms/persons/ms.answers.contracts/obj
ms/persons/ms.answers.model/obj
ms/persons/ms.answers.repository/obj
ms/persons/ms.answers.services/obj
ms/questions/ms.questions.api/obj
ms/tags/ms.tags.model/obj
soa/qa/soa.qa.services/obj
soa/statistics/soa.statistics.services/obj
soa/statistics/soa.statistics.api/obj/Debug/netcoreapp3.1
soa/statistics/soa.statistics.api/obj
soa/statistics/soa.statistics.api/bin/Debug
