api/soa.api/bin/Debug
api/soa.api/obj
api/soa.api/wwwroot
api/soa.contracts/bin
api/soa.contracts/obj/Debug
api/soa.contracts/obj
api/soa.model/bin/Debug/netcoreapp3.1/soa.model.deps.json
api/soa.model/obj/Debug
api/soa.model/obj
api/soa.repository/bin/Debug/netcoreapp3.1/soa.repository.deps.json
api/soa.repository/obj/Debug
api/soa.repository/obj
api/soa.services/bin/Debug/netcoreapp3.1/soa.services.deps.json
api/soa.services/obj/Debug/netcoreapp3.1
api/soa.services/obj
api/soa-common.dtos/bin/Debug/netcoreapp3.1
api/soa-common.dtos/obj/Debug/netcoreapp3.1
api/soa-common.dtos/obj
api/soa-common.infrastructure/bin/Debug/netcoreapp3.1
api/soa-common.infrastructure/obj/Debug/netcoreapp3.1
api/soa-common.infrastructure/obj
